.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 43px;
}

/* Banner Introduction */
.banner-introduction {
    /* flex: 0 0 40%; */
    max-width: 35%;
}

#explore-btn {
    background-color: #fff;
    box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04),
        0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
}

#explore-btn span {
    margin-right: 18px;
}

.banner-title {
    font-size: 69px;
    font-weight: 700;
    line-height: 120%;
    margin: 43px 0;
}

.banner-description {
    margin-bottom: 43px;
}

.banner-btn {
    display: flex;
}

#start-btn {
    margin-right: 16px;
    box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09),
        0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

#watch-btn svg {
    margin-right: 12px;
}

/* Banner Image */
.banner-image {
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
}

.banner-image-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Banner Icon */
.banner-icon {
    display: flex;
    margin: auto;
    padding: 16px;
    border-radius: 100px;
    box-shadow: var(--icon-box-shadow);
}

.banner-icon.paper-plant {
    position: absolute;
    left: -32px;
    top: calc(50% - 16px);
    transform: translateY(calc(-50%));
}

.paper-plant {
    background-color: var(--secondary-color);
}

.banner-icon.user-plus {
    position: absolute;
    bottom: 0;
    right: 20%;
    transform: translateX(-20%);
}

.user-plus {
    background-color: var(--warning-color);
}
